*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
}

.navbar-container {
  flex: 0 1 50px;
}


.menu__container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  margin: 0 50px;
}

.menu-header {
  width: 90%;
  margin: 0 auto;
  flex: 0 1 80px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.menu-header > h1 {
  color: var(--dark-Slate-Gray);
  text-align: center;
  display: grid;
  place-items: center;
}

.menu-header > button {
  flex: 0 1 auto;
  margin-right: 300px;
  margin-top: 21.44px;
  margin-bottom: 21.44px;
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.menu-header > button:hover {
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-container > div {
  background-color: var(--white);
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.modal-header > h1 {
  color: var(--dark-brown);
}

.close-modal {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--white);
}

.modal-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-items {
  flex: 1 1 auto;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.menu-items > button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.menu-items > button:hover {
  cursor: pointer;
}

.menu-items > button > span {
  color: var(--white);
  font-weight: bold;
}

.menu_img {
  padding-top: 10px;
}

.menu_label {
  padding: 0 10px;
}

.par {
  background-color: var(--aquamarine);
}

.impar {
  background-color: var(--dark-Slate-Gray);
}

.menu_label{
  display: block;
}

.menu-pagination {
  flex: 0 1 100px;
  display: flex;
  flex-flow: row;
  margin: 0 150px;
}

.menu-pagination > button {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1d1413;
  font-weight: bold;
  font-size: 14px;
  border: none;
  background-color: var(--white);
}

.menu-pagination > button:hover {
  cursor: pointer;
}

#download{
  margin-right: 0;
  padding: .6rem 1.2rem;
  transition: background-color .5s ease;
}

#download:hover{
  background-color: var(--purple);
}

.previous {
  flex: 1 1 auto;
  margin-right: 50px;
  text-align: right;
}

.next {
  flex: 1 1 auto;
  margin-left: 50px;
  text-align: left;
  justify-self: flex-end;
}

@media print {
  .navbar-container {
    display: none;
  }
  .networks__container {
    display: none;
  }
  #download {
    display: none;
  }
  .menu-pagination {
    display: none;
  }
  .footer {
    display: none;
  }

  .menu_label{
    color: #000 !important;
    font-size: .65rem;
  }

  .menu-header{
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }

  .showmodal{
    background-color: rgb(243, 243, 243);
    border-radius: .5rem;
    border-radius: 1px solid rgb(47, 47, 47);
  }

  .menu-items{
    margin: 0;
    width:100%;
    gap: .2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu_label{
    padding: 0 .2rem;
  }

  .menu_img{
    margin: .3rem .3rem .4rem .3rem;
    border-radius: .5rem;
  }

}

@media screen and (max-width:820px) {
  .menu-items {
    grid-template-columns: 1fr;
  }
  .menu-header > button {
    margin-right: 0 !important;
  }
  .close-modal {
    margin-right: 15px;
  }
  .menu-pagination {
    margin: 0;
  }
}
