*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-flow: column;
  margin: 0 100px;
}

h1 {
  font-size: 4rem;
  margin: 50px 0;
  color: var(--dark-Slate-Gray);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.item {
  display: flex;
  flex-flow: row;
  margin: 40px 0;
}

.info {
  padding: 0 50px;
}

.info > h2 {
  color: var(--dark-brown);
  font-size: 2rem;
}

.add_item {
  display: flex;
  flex-flow: column;
}

.add_item > h3 {
  align-self: center;
  color: var(--dark-brown);
  margin: 30px 0;
}

.amount {
  display: flex;
  flex-flow: row;
}

.less {
  margin: 20px 0;
  background-color: var(--white);
  border: none;
  color: var(--dark-brown);
  font-size: 2rem;
  font-weight: bold;
}

.amount > input {
  margin: 20px 0;
  color: var(--dark-brown);
  font-weight: bold;
}

.plus {
  margin: 20px 0;
  background-color: var(--white);
  border: none;
  color: var(--dark-brown);
  font-size: 2rem;
  font-weight: bold;
}

.plus:hover, .less:hover {
  cursor: pointer;
}

.add {
  margin: 30px 0;
  padding: 10px 10px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.add:hover {
  cursor: pointer;
  transition: 100ms;
  transform: scale(1.1);
}

.menu-pagination {
  display: flex;
  flex: 0 1 100px;
  flex-flow: row;
  margin: 0 150px;
  justify-content: center;
}

.menu-pagination > button {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1d1413;
  font-weight: bold;
  font-size: 14px;
  border: none;
  background-color: var(--white);
}

.menu-pagination > button:hover {
  cursor: pointer;
}

.previous {
  flex: 1 1 auto;
  margin-right: 50px;
  text-align: right;
}

.next {
  flex: 1 1 auto;
  margin-left: 50px;
  text-align: left;
  justify-self: flex-end;
}
