:root{
  --dark-Slate-Gray: #52313c;
  --orange: #fd3a02;
  --light-gray: #d5cace;
  --silver: #c4b0b5;
  --purple: #8e235e;
  --dark-brown: #310101;
  --white: #fff;
  --black: #000;
}

*,*::before,*::after{
  font-family: 'Urbanist', sans-serif;
}