:root{
  --dark-Slate-Gray: #52313c;
  --orange: #fd3a02;
  --light-gray: #d5cace;
  --silver: #c4b0b5;
  --purple: #8e235e;
  --dark-brown: #310101;
  --white: #fff;
  --black: #000;
}

*{
  font-family: 'Urbanist', sans-serif;
}

body{
  overflow: hidden;
}

.carousel__container{
  position: relative;
  margin-top: -60px;
  overflow: hidden;
  height: 100vh;
}


/* Bootstrap style modifications */
.carousel-control-next,.carousel-control-prev{
  opacity: .6;
}

.carousel,.carousel-inner,.carousel-item,img{
  height: 100vh;
}

.carousel-control-prev,.carousel-control-next{
  align-items: flex-end;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: var(--orange);  
  padding: 1.5rem;
  border-radius: 5rem;
  transition: background-color .5s ease;
}

.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover{
  background-color: var(--purple);
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  margin-bottom: 1.5rem;
}

@media screen and (max-width:815px) {

  .carousel__container,.carousel,.carousel-inner,.carousel-item,img{
    height: 450px;
  }

  .carousel_img{
    min-height: 450px;
  }
}

@media screen and (max-width:550px){

  .carousel__container,.carousel,.carousel-inner,.carousel-item,img{
    height: 370px;
  }
}